@{
    ViewData["Title"] = "Home";
    var news = ViewData["News"] as List<App.Models.NewsModel.ContentNews>;
    var blogNews = ViewData["BlogNews"] as List<App.Models.ServicesModel.ServicesBlog>;
}
<header class="header-section">
    <div class="top-nav">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <nav class="main-menu">
                        <ul>
                            <li class="active"><a href="/">Trang chủ</a></li>
                            <li><a asp-action="RoomService" asp-controller="HomePage">Nhà trọ, phòng trọ</a></li>
                            <li><a asp-action="VideoReview" asp-controller="HomePage">Video Review </a></li>
                            <li><a asp-action="Blog" asp-controller="HomePage">News</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-5">
                    <div class="top-right">
                        <div class="language-option">
                            <i class="fa fa-sign-in" aria-hidden="true"></i> <span> Đăng nhập</span>
                            <i class="fa fa-angle-down"></i>
                            <div class="flag-dropdown">
                                <ul>
                                    <li><a asp-area="Account" asp-action="Index" asp-controller="Login">Đăng
                                            nhập</a></li>
                                    <li><a asp-area="Account" asp-action="Index" asp-controller="Login">Đăng
                                            ký</a></li>
                                </ul>
                            </div>
                        </div>
                        <a asp-area="Blog" asp-action="CreateNews" asp-controller="News" class="property-sub"><i
                                class="fa fa-plus" aria-hidden="true"></i> Đăng trọ ngay
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-logo">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="logo">
                        <a asp-action="Home" asp-controller="HomePage" asp-area="Introduction"><img
                                src="client_part/img/logo.png" alt=""></a>

                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="nav-logo-right">
                        <ul>
                            <li>
                                <i class="icon_phone"></i>
                                <div class="info-text">
                                    <span>Phone:</span>
                                    <p>(+84) 345 6789</p>
                                </div>
                            </li>
                            <li>
                                <i class="icon_map"></i>
                                <div class="info-text">
                                    <span>Address:</span>
                                    <p>Ho Chi Minh City</p>
                                </div>
                            </li>
                            <li>
                                <i class="icon_mail"></i>
                                <div class="info-text">
                                    <span>Email:</span>
                                    <p>phongtrotienich@gmail.com</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header End -->

<!-- Hero Section Begin -->
<section class="hero-section">
    <div class="hero-items owl-carousel">
        <div class="single-hero-item set-bg" data-setbg="client_part/img/hero/hero-1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="hero-text">
                            <h2 style="text-transform: uppercase;">
                                Tìm nhanh, kiếm dễ </br>Trọ Mới toàn quốc
                            </h2>
                            <p class="room-location">Trang thông tin và cho thuê phòng trọ nhanh chóng,</br> hiệu
                                quả với
                                hơn 500 tin đăng mới và 30.000 lượt xem mỗi ngày
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="thumbnail-pic">
        <div class="thumbs owl-carousel">
            <div class="item">
                <img src="client_part/img/hero/dot-1.jpg" alt="">
            </div>
            <div class="item">
                <img src="client_part/img/hero/dot-2.jpg" alt="">
            </div>
            <div class="item">
                <img src="client_part/img/hero/dot-3.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->

<!-- Search Form Section Begin -->
<div class="search-form">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="search-form-text">
                    <div class="search-text">
                        <i class="fa fa-search"></i>
                        Tất cả
                    </div>
                    <div class="home-text">
                        <i class="fa fa-home"></i>
                        Nhà trọ, phòng trọ
                    </div>
                </div>
                <form action="#" class="filter-form">
                    <div class="first-row">

                        <select>
                            <option value="">Địa điểm</option>
                        </select>
                        <select>
                            <option value="">Mức giá</option>
                        </select>
                        <select>
                            <option value="">Diện tích</option>
                        </select>
                    </div>
                    <div class="second-row">
                        <button type="button" class="search-btn">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Feature Section Begin -->
<section class="feature-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span></span>
                    <h2>Danh Sách Các Tin Trọ Hot</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="feature-carousel owl-carousel">
                @{
                    foreach (var item in blogNews)
                    {
                        <div class="col-lg-4">
                            <div class="feature-item">
                                <div class="fi-pic set-bg"
                                    data-setbg="https://imbfaeyswkneestptfkr.supabase.co/storage/v1/object/public/home_img/@item.Images[0]">
                                </div>
                                <div class="fi-text">
                                    <div class="inside-text">
                                        <a href="/detail-service-blog/@item.Slug">
                                            <h4>@item.Title</h4>
                                        </a>
                                        <ul>
                                            <li><i class="fa fa-map-marker"></i>@item.Address</li>
                                        </ul>
                                        <h5 class="price">@item.RentalPrice.ToString("#,##0") <span>VNĐ/tháng</span></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }

            </div>
        </div>
    </div>
</section>
<!-- Feature Section End -->

<!-- Top Properties Section Begin -->
<div class="top-properties-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="properties-title">
                    <div class="section-title">
                        <h2>Những phòng trọ dành cho bạn</h2>
                    </div>
                    <a asp-action="RoomService" asp-controller="HomePage" class="top-property-all">Xem Tất cả Các Phòng
                        Trọ</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="top-properties-carousel owl-carousel">
            @{
                foreach (var item in blogNews)
                {
                    <div class="single-top-properties">
                        <div class="row">

                            <div class="col-lg-6">
                                <div class="stp-pic">
                                    <img src="https://imbfaeyswkneestptfkr.supabase.co/storage/v1/object/public/home_img/@item.Images[0]"
                                        alt="">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="stp-text">
                                    <a href="/detail-service-blog/@item.Slug">
                                        <h2>@item.Title</h2>
                                    </a>
                                    <div class="room-price">
                                        <span>Giá chỉ từ:</span>
                                        <h4>@item.RentalPrice.ToString("#,##0") <span>VNĐ/tháng</span></h4>
                                    </div>
                                    <div class="properties-location"><i class="icon_pin"></i> @item.Address</div>
                                    <p>Phòng trọ rộng rãi 20m², đầy đủ tiện nghi (Wi-Fi, máy lạnh), gần trường học và chợ, giá
                                        chỉ 3 triệu VNĐ/tháng.</p>
                                </div>
                            </div>

                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
<!-- Top Properties Section End -->

<!-- Latest Blog Section Begin -->
<section class="blog-section latest-blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Tin tức mới</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @{
                foreach (var item in news)
                {
                    <div class="col-lg-4">
                        <div class="single-blog-item">
                            <div class="sb-pic">
                                <img style="height: 400px;"
                                    src="https://imbfaeyswkneestptfkr.supabase.co/storage/v1/object/public/news_img/@(item.ImageId ?? "default-image.jpg")"
                                    alt="">
                            </div>
                            <div class="sb-text">
                                <ul>
                                    <li><i class="fa fa-user"></i> @(item.Author?.FullName ?? "Không rõ tác giả")</li>
                                    <li><i class="fa fa-clock-o"></i> @item.DateUpdated.ToString("dd/MM/yyyy")</li>
                                </ul>
                                <h4><a href="/news-detail/@(item.Id ?? "0")">@item.GeneralTitle</a></h4>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>
<!-- Latest Blog Section End -->
