@{
    ViewData["Title"] = "Update Rental Property";
}
@model App.Models.RentalProperty
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h2 class="text-center lh-base mb-4">Update Rental Property</h2>
                    <partial name="_SuccessMessage" />
                    <partial name="_FailureMessage" />
                    <div class="basic-form">
                        <form asp-action="EditHome" method="POST" asp-route-id="@Model.Id"
                            enctype="multipart/form-data">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            using Microsoft.EntityFrameworkCore.Metadata.Internal;
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(m => m.PropertyName, new { @class = "control-label" })
                                    @Html.EditorFor(m => m.PropertyName, new
                                        {
                                            htmlAttributes = new
                                            {
                                                @class =
                                             "form-control"
                                            }
                                        })
                                    @Html.ValidationMessageFor(m => m.PropertyName, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(m => m.OwnerName, new { @class = "control-label" })
                                    @Html.EditorFor(m => m.OwnerName, new
                                        {
                                            htmlAttributes = new
                                            {
                                                @class =
                                             "form-control"
                                            }
                                        })
                                    @Html.ValidationMessageFor(m => m.OwnerName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.Address, new { @class = "control-label" })
                                @Html.EditorFor(m => m.Address, new
                                    {
                                        htmlAttributes = new { @class = "form-control" }
                                    })
                                @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(m => m.NumberOfRooms, new { @class = "control-label" })
                                    @Html.EditorFor(m => m.NumberOfRooms, new
                                        {
                                            htmlAttributes = new
                                            {
                                                @class =
                                             "form-control",
                                                type = "number"
                                            }
                                        })
                                    @Html.ValidationMessageFor(m => m.NumberOfRooms, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(m => m.OwnerPhoneNumber, new { @class = "control-label" })
                                    @Html.EditorFor(m => m.OwnerPhoneNumber, new
                                        {
                                            htmlAttributes = new
                                            {
                                                @class =
                                             "form-control",
                                                type = "tel"
                                            }
                                        })
                                    @Html.ValidationMessageFor(m => m.OwnerPhoneNumber, "", new
                                        {
                                            @class = "text-danger"
                                        })
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(m => m.TotalArea, new { @class = "control-label" })
                                    @Html.EditorFor(m => m.TotalArea, new
                                        {
                                            htmlAttributes = new
                                            {
                                                @class =
                                             "form-control",
                                                type = "number"
                                            }
                                        })
                                    @Html.ValidationMessageFor(m => m.TotalArea, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(m => m.PropertyType, new { @class = "control-label" })
                                    @Html.DropDownListFor(m => m.PropertyType,
                                             new SelectList(new List<SelectListItem>
                                    {
                                    new SelectListItem { Value = "Low-cost", Text = "Giá rẻ" },
                                    new SelectListItem { Value = "High-end", Text = "Cao cấp" },
                                    new SelectListItem { Value = "Student rooms", Text = "Phòng sinh viên" }
                                    }, "Value", "Text"), "Chọn loại...",
                                             new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.PropertyType, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.Facilities, new { @class = "control-label" })
                                @Html.TextAreaFor(m => m.Facilities, new
                                    {
                                        @class = "form-control",
                                        rows = 3,
                                        placeholder = "Enter facilities, e.g., Wi-Fi, parking, air-conditioning..."
                                    })
                                @Html.ValidationMessageFor(m => m.Facilities, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(m => m.ElectricityPrice, new { @class = "control-label" })
                                    @Html.EditorFor(m => m.ElectricityPrice, new
                                        {
                                            htmlAttributes = new
                                            {
                                                @class =
                                             "form-control",
                                                type = "number"
                                            }
                                        })
                                    @Html.ValidationMessageFor(m => m.ElectricityPrice, "", new
                                        {
                                            @class = "text-danger"
                                        })
                                </div>
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(m => m.WaterPrice, new { @class = "control-label" })
                                    @Html.EditorFor(m => m.WaterPrice, new
                                        {
                                            htmlAttributes = new
                                            {
                                                @class =
                                             "form-control",
                                                type = "number"
                                            }
                                        })
                                    @Html.ValidationMessageFor(m => m.WaterPrice, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.StartDate, new { @class = "control-label" })
                                @Html.EditorFor(m => m.StartDate, new
                                    {
                                        htmlAttributes = new
                                        {
                                            @class = "form-control",
                                            type = "date"
                                        }
                                    })
                                @Html.ValidationMessageFor(m => m.StartDate, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.PropertyImage, new { @class = "control-label" })
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="propertyImage"
                                        name="PropertyImage" />
                                    <label class="custom-file-label" for="propertyImage">Choose file</label>
                                </div>
                                @Html.ValidationMessageFor(m => m.PropertyImage, "", new { @class = "text-danger" })
                            </div>

                            <div class="container mt-6">
                                <div class="text-center">
                                    <div class="row">
                                        <div class="col-12 col-md-6 mb-3">
                                            <a asp-action="Index" class="btn btn-light btn-lg w-100">Back to Home</a>
                                        </div>
                                        <div class="col-12 col-md-6 mb-3">
                                            <button type="submit" class="btn btn-dark btn-lg w-100">Update Rental
                                                Property</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section AdditionalLinkCSS {
    <style>
        .text-danger {
            display: inline-block;
            margin-left: 10px;
            vertical-align: middle;
        }

        .custom-file-label::after {
            content: "Browse";
        }
    </style>
}

@section AdditionalLinkJavascript {
    <script>
        document.getElementById("propertyImage").addEventListener("change", function (event) {
            const input = event.target;
            const label = input.nextElementSibling;
            const fileNames = Array.from(input.files).map(file => file.name).join(", ");
            label.textContent = fileNames || "Choose file";
        });
    </script>
    <partial name="_ValidationScriptsPartial" />
}
