@model App.Models.Room
<div class="container-fluid">
    <div class="col-lg-12">
        <div class="card shadow-lg border-light mb-4">
            <div class="card-body">
                <h4 class="card-title text-center font-weight-bold">Room Information</h4>
                <div class="row">
                    <div class="col-md-4 ">
                        <p><strong>Number room: </strong>@Model.RoomName</p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong>Area: </strong>@Model.Area m2</p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong>Maximum Occupancy:</strong> @Model.MaximumNumberOfPeople</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 ">
                        <p><strong>Time Contract:</strong></p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong>Room Price: </strong>@Model.Price</p>
                    </div>
                    <div class="col-md-4 ">
                        <p><strong>Room Stauts: </strong>@Model.Status</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 ">
                        <p class="text-justify"><strong>Description:</strong> @Model.Description</p>
                    </div>
                </div>

                @if (Model.Status == "About to expire")
                {
                    @* Process herer *@
                    <!-- Send Contract Activation Notice Button -->
                    <div class="text-center mb-4 mt-4">
                        <button type="button" class="btn btn-primary" onclick="alert('Thông báo hợp đồng đã được gửi!')">
                            Send Contract Activation Notice</button>
                    </div>
                }
                @if (Model.Status == "Available")
                {
                    @* Process herer *@
                    <!-- Send Contract Activation Notice Button -->
                    <div class="text-center mb-4 mt-4">
                        <button type="button" class="btn btn-primary" onclick="alert('Thông báo hợp đồng đã được gửi!')">
                            Create A New Contract</button>
                    </div>
                }

                @if (Model.Status == "Rented")
                {
                    @* Process herer *@
                    <!-- Send Contract Activation Notice Button -->
                    <div class="text-center mb-4 mt-4">
                        <button type="button" class="btn btn-primary" onclick="alert('Thông báo hợp đồng đã được gửi!')">
                            Cancel Contract</button>
                    </div>
                }

                <hr />
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h4 class=" text-center font-weight-bold">Tenant List</h4>
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>No.</th>
                                                <th>Fullname</th>
                                                <th>Sex</th>
                                                <th>Date of birth</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @* <tr>
                                            <th>1</th>
                                            <td>Áo Phông Kolor Nam</td>
                                            <td><span class="badge badge-primary px-2">Giảm Giá</span></td>
                                            <td>22 Tháng 1</td>
                                            <td class="color-primary">$21.56</td>
                                            </tr>
                                            <tr>
                                            <th>2</th>
                                            <td>Áo Phông Kolor Nữ</td>
                                            <td><span class="badge badge-danger px-2">Thuế</span></td>
                                            <td>30 Tháng 1</td>
                                            <td class="color-success">$55.32</td>
                                            </tr>
                                            <tr>
                                            <th>3</th>
                                            <td>Balo Xanh Dành Cho Trẻ Em</td>
                                            <td><span class="badge badge-success px-2">Kéo Dài</span></td>
                                            <td>25 Tháng 1</td>
                                            <td class="color-danger">$14.85</td>
                                            </tr> *@
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h4 class=" text-center font-weight-bold">Assests And Equipment</h4>
                                <div class="table-responsive">
                                    <table class="table header-border">
                                        <thead>
                                            <tr>
                                                <th scope="col">No.</th>
                                                <th scope="col">Assest Name</th>
                                                <th scope="col">Assest Status</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @* <tr>
                                            <th>1</th>
                                            <td>Jacklyn</td>
                                            <td>G.Bearden</td>
                                            <td>jacklyn</td>
                                            </tr>
                                            <tr>
                                            <th>2</th>
                                            <td>Nancy</td>
                                            <td>J. Daniels</td>
                                            <td>daniels</td>
                                            </tr>
                                            <tr>
                                            <th>3</th>
                                            <td>Betty</td>
                                            <td>R. Christensen</td>
                                            <td>betty</td>
                                            </tr>
                                            <tr>
                                            <th>4</th>
                                            <td>Lucinda</td>
                                            <td>D. Sears</td>
                                            <td>lucinda</td>
                                            </tr>
                                            <tr>
                                            <th>5</th>
                                            <td>William</td>
                                            <td>T. Marks</td>
                                            <td>williammarks</td>
                                            </tr> *@
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
