@model App.Models.ServicesModel.ServicesBlog
@{
    ViewData["Title"] = "Create Services News";
}
<div class="container-fluid">
    <partial name="_SuccessMessage" />
    <partial name="_FailureMessage" />
    <div class="row">
        <div class="col-md-12">
            @* <form asp-action="CreateServiceNews" id="step-form-horizontal" class="step-form-horizontal"> *@
            <form asp-action="CreateServiceNews" method="POST" enctype="multipart/form-data" id="step-form-horizontal" class="step-form-horizontal">
                <div>
                    <h4>General Information</h4>
                    <section>
                        <h3>General Information</h3>
                        <div class="row">
                            @* Title *@
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="control-label">Title</label>
                                    @Html.EditorFor(m => m.Title, new
                                    {
                                        htmlAttributes = new { @class = "form-control", @placeholder = "For example: Hostel at 83-85, District 7" }
                                    })
                                    @* @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" }) *@
                                </div>
                            </div>
                            @* self-managed *@
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="control-label">Self-managed accommodation</label>
                                        @Html.DropDownListFor(
                                            m => m.SelfManagedAccommodation, 
                                            new SelectList(new[] { "Yes", "No" }, "Choose object"), 
                                            "Choose object", 
                                            new { @class = "form-control" }
                                        )
                                </div>
                            </div>
                            @* Area *@
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="control-label">Area</label>
                                        @Html.TextBoxFor(m => m.Area, new { @class = "form-control", @placeholder = "Area", type = "number" })
                                </div>
                            </div>
                            @* Rental price *@
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="control-label">Rental price</label>
                                    @Html.TextBoxFor(m => m.RentalPrice, new { @class = "form-control", @placeholder = "Rental price",type = "number" })
                                </div>
                            </div>
                            @* Summernote *@
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="control-label">Description of the content</label>
                                    <div class="summernote" id="first-summernote"></div>
                                    <!-- Input hidden for Summernote 1 -->
                                    <input type="hidden" name="ContentDescription" id="ContentDescription" value="@Model.ContentDescription" />
                                </div>
                            </div>
                            @* Đối tượng *@
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <hr />
                                    <h3>Object</h3>
                                    <div class="row justify-content-start" >
                                        <div class="col-3 mb-3">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    @Html.CheckBoxFor(m => m.IsStudent, new { @class = "form-check-input" })
                                                    Student
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-3 mb-3">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    @Html.CheckBoxFor(m => m.IsWorker, new { @class = "form-check-input" })
                                                    Worker
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-3 mb-3">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    @Html.CheckBoxFor(m => m.IsFamily, new { @class = "form-check-input" })
                                                    Family
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-3 mb-3">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    @Html.CheckBoxFor(m => m.IsCouple, new { @class = "form-check-input" })
                                                    Couple
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @* Tiện nghi *@
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <hr />
                                    <h3>Utilities</h3>
                                    <div class="row justify-content-start">
                                        <div class="col-3 mb-3">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    @Html.CheckBoxFor(m => m.HasLoft, new { @class = "form-check-input" })
                                                    Loft
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-3 mb-3">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    @Html.CheckBoxFor(m => m.HasWiFi, new { @class = "form-check-input" })
                                                        Wi-Fi
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-3 mb-3">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    @Html.CheckBoxFor(m => m.HasIndoorCleaning, new { @class = "form-check-input" })
                                                    Indoor cleaning
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-3 mb-3">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    @Html.CheckBoxFor(m => m.HasBathroom, new { @class = "form-check-input" })
                                                    Bathroom
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-3 mb-3">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    @Html.CheckBoxFor(m => m.HasWaterHeater, new { @class = "form-check-input" })
                                                    Water heater
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-3 mb-3">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    @Html.CheckBoxFor(m => m.HasKitchenShelf, new { @class = "form-check-input" })
                                                        Kitchen shelf
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-3 mb-3">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    @Html.CheckBoxFor(m => m.HasWashingMachine, new { @class = "form-check-input" })
                                                        Washing machine
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-3 mb-3">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    @Html.CheckBoxFor(m => m.HasTV, new { @class = "form-check-input" })
                                                        TV
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-3 mb-3">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    @Html.CheckBoxFor(m => m.HasAirConditioner, new { @class = "form-check-input" })
                                                        Air conditioner
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-3 mb-3">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    @Html.CheckBoxFor(m => m.HasRefrigerator, new { @class = "form-check-input" })
                                                    Refrigerator
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-3 mb-3">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    @Html.CheckBoxFor(m => m.HasBedAndMattress, new { @class = "form-check-input" })
                                                    Bed and Mattress
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-3 mb-3">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    @Html.CheckBoxFor(m => m.HasWardrobe, new { @class = "form-check-input" })
                                                        Wardrobe
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-3 mb-3">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    @Html.CheckBoxFor(m => m.HasBalcony, new { @class = "form-check-input" })
                                                    Balcony
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-3 mb-3">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    @Html.CheckBoxFor(m => m.HasElevator, new { @class = "form-check-input" })
                                                    Elevator
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-3 mb-3">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    @Html.CheckBoxFor(m => m.HasPrivateParkingLot, new { @class = "form-check-input" })
                                                    Private parking lot
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-3 mb-3">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    @Html.CheckBoxFor(m => m.HasSecurityCamera, new { @class = "form-check-input" })
                                                    Security camera

                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-3 mb-3">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    @Html.CheckBoxFor(m => m.HasSwimmingPool, new { @class = "form-check-input" })
                                                    Swimming pool
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-3 mb-3">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    @Html.CheckBoxFor(m => m.HasGarden, new { @class = "form-check-input" })
                                                    Garden
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @* Môi trường xung quanh *@
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <hr />
                                    <h3>Surrounding environment</h3>
                                    <div class="row justify-content-start">
                                        <div class="col-3 mb-3">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    @Html.CheckBoxFor(m => m.NearMarket, new { @class = "form-check-input" }) Market
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-3 mb-3">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    @Html.CheckBoxFor(m => m.NearSupermarket, new { @class = "form-check-input" })
                                                    Supermarket
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-3 mb-3">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    @Html.CheckBoxFor(m => m.NearHospital, new { @class = "form-check-input" })
                                                    Hospital
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-3 mb-3">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    @Html.CheckBoxFor(m => m.NearSchool, new { @class = "form-check-input" })
                                                    School
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-3 mb-3">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    @Html.CheckBoxFor(m => m.NearPark, new { @class = "form-check-input" })
                                                    Park
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-3 mb-3">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    @Html.CheckBoxFor(m => m.NearBusStation, new { @class = "form-check-input" })
                                                    Bus station
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-3 mb-3">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    @Html.CheckBoxFor(m => m.NearGym, new { @class = "form-check-input" })
                                                    Gym
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @* Địa điểm *@
                            <div class="col-lg-12">
                                <hr />
                                <h3>Location</h3>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="control-label">Province</label>
                                    <select class="form-control" id="tinh" name="Province" title="Chọn Tỉnh Thành">
                                        <option value="0">Tỉnh Thành</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="control-label">District</label>
                                    <select class="form-control" id="quan" name="District" title="Chọn Quận Huyện">
                                        <option value="0">Quận Huyện</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="control-label">Town</label>
                                    <select class="form-control" id="phuong" name="Town" title="Chọn Phường Xã">
                                        <option value="0">Phường Xã</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="control-label">Address</label>
                                    @Html.EditorFor(m => m.Address, new
                                    {
                                        htmlAttributes = new { @class = "form-control", @placeholder = "Enter your full address" }
                                    })
                                </div>
                            </div>
                            @* Image *@
                            <div class="col-lg-12">
                                <hr/>
                                <h3>Overview Image</h3>
                                <div class="upload-container">
                                    <div class="upload-box" id="dropArea">
                                        <p class="upload-text">DRAG AND DROP IMAGES<br>(Or click to select images)</p>
                                        <input type="file" class="input-hidden" id="fileInput" name="filesArea" accept="image/*" multiple />
                                        <div class="preview-area" id="previewArea"></div>
                                    </div>
                                    <div class="upload-instructions">
                                        <p>- Upload up to <b>15 images</b>.</p>
                                        <p>- Use real images, no duplicates, no phone numbers, and no logos.</p>
                                        <p>- Each image must be at least <b>100x100 px</b>.</p>
                                    </div>
                                </div>
                            </div>
                            @* Contract information *@                            
                            <div class="col-lg-12">
                                <hr/>
                                <h3 style="margin: 16px 0;">Contact Information</h3>
                                <div class="row justify-content-start">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="control-label">Full Name</label>
                                            @Html.EditorFor(m => m.FullName, new
                                            {
                                                htmlAttributes = new { @class = "form-control", @placeholder = "Full Name" }
                                            })
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="control-label">Phone Number</label>
                                            @Html.EditorFor(m => m.PhoneNumber, new
                                            {
                                                htmlAttributes = new { @class = "form-control", @placeholder = "+8412345678" }
                                            })
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="control-label">Zalo Number</label>
                                            @Html.EditorFor(m => m.ZaloNumber, new
                                            {
                                                htmlAttributes = new { @class = "form-control", @placeholder = "+8412345678" }
                                            })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <h4>Add Room</h4>
                    <section>
                        <h3>Room Information</h3>
                        <div class="row">
                            @* Room Name *@
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="control-label">Room Name</label>
                                    @Html.EditorFor(m => m.Rooms[0].Name, new
                                    {
                                        htmlAttributes = new { @class = "form-control", @placeholder = "For example: Room with mezzanine" }
                                    })
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="control-label">Area</label>
                                    @Html.EditorFor(m => m.Rooms[0].Area, new
                                    {
                                        htmlAttributes = new { @class = "form-control", @placeholder = "Area" }
                                    })
                                </div>
                            </div>
                            @* Rental price room *@
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="control-label">Rental price</label>
                                    @Html.EditorFor(m => m.Rooms[0].RentalPrice, new
                                    {
                                        htmlAttributes = new { @class = "form-control", @placeholder = "Rental price", type = "number" }
                                    })
                                </div>
                            </div>
                            @* Number of rooms *@
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="control-label">Number of rooms</label>
                                    @Html.EditorFor(m => m.Rooms[0].NumberOfRooms, new
                                    {
                                        htmlAttributes = new { @class = "form-control", @placeholder = "Number of Room",type = "number" }
                                    })
                                </div>
                            </div>
                            @* Number of people *@
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="control-label">Maxium Person</label>
                                    @Html.EditorFor(m => m.Rooms[0].MaximumPerson, new
                                    {
                                        htmlAttributes = new { @class = "form-control", @placeholder = "Maxium Person", type = "number" }
                                    })                                
                                </div>
                            </div>
                            @* Object Reantal *@
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="control-label">Object Reantal</label>
                                    <select name="self-managed" class="form-control">
                                        <option value="" disabled selected>Choose Object</option>
                                        <option value="student">Student</option>
                                        <option value="worker">Worker</option>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                        <option value="couple">Couple</option>
                                    </select>
                                </div>
                            </div>
                            @* Show Number *@
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="control-label">Show Number</label>
                                    <input type="number" name="show-number" class="form-control" placeholder="Show Number">
                                </div>
                            </div>
                            @* Summernote *@
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="control-label">Description of the content</label>
                                    <div class="summernote" id="second-summernote"></div>
                                    <!-- Input hidden for Summernote 2 -->
                                    <input type="hidden" name="Rooms[0].Description" id="Description" value="@Model.Rooms?[0]?.Description" />
                                </div>
                            </div>
                            @* Tiện nghi *@
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <hr />
                                    <h3>Utilities</h3>
                                    <div class="row justify-content-start">
                                        <div class="col-3 mb-3">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                    @Html.CheckBoxFor(m => m.Rooms[0].Bed, new { @class = "form-check-input" }) Bed
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-3 mb-3">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                     @Html.CheckBoxFor(m => m.Rooms[0].Wardrobe, new { @class = "form-check-input" }) Wardrobe
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-3 mb-3">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                     @Html.CheckBoxFor(m => m.Rooms[0].Desk, new { @class = "form-check-input" }) Desk
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-3 mb-3">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                     @Html.CheckBoxFor(m => m.Rooms[0].Chair, new { @class = "form-check-input" }) Chair
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-3 mb-3">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                 @Html.CheckBoxFor(m => m.Rooms[0].AirConditioner, new { @class = "form-check-input" }) Air Conditioner
                                            </label>
                                        </div>
                                        </div>
                                        <div class="col-3 mb-3">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                     @Html.CheckBoxFor(m => m.Rooms[0].Fan, new { @class = "form-check-input" }) Fan
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-3 mb-3">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                     @Html.CheckBoxFor(m => m.Rooms[0].Lighting, new { @class = "form-check-input" }) Lighting
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-3 mb-3">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                     @Html.CheckBoxFor(m => m.Rooms[0].Curtains, new { @class = "form-check-input" }) Curtains
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-3 mb-3">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                     @Html.CheckBoxFor(m => m.Rooms[0].TV, new { @class = "form-check-input" }) TV
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-3 mb-3">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                     @Html.CheckBoxFor(m => m.Rooms[0].Refrigerator, new { @class = "form-check-input" }) Refrigerator
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-3 mb-3">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                     @Html.CheckBoxFor(m => m.Rooms[0].Wifi, new { @class = "form-check-input" }) Wi-Fi
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-3 mb-3">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                     @Html.CheckBoxFor(m => m.Rooms[0].Mirror, new { @class = "form-check-input" }) Mirror
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-3 mb-3">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                     @Html.CheckBoxFor(m => m.Rooms[0].Socket, new { @class = "form-check-input" }) Socket
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-3 mb-3">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                     @Html.CheckBoxFor(m => m.Rooms[0].WaterHeater, new { @class = "form-check-input" }) Water Heater
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-3 mb-3">
                                            <div class="form-check form-check-inline">
                                                <label class="form-check-label">
                                                     @Html.CheckBoxFor(m => m.Rooms[0].Window, new { @class = "form-check-input" }) Window
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                            @* Image *@
                            <div class="col-lg-12">
                                <hr/>
                                <h3>Overview Image (Room)</h3>
                                <div class="upload-container">
                                    <div class="upload-box" id="dropArea_room">
                                        <p class="upload-text">DRAG AND DROP IMAGES<br>(Or click to select images)</p>
                                        <input type="file" class="input-hidden" id="fileInput_room" name="filesRoom" accept="image/*" multiple />
                                        <div class="preview-area" id="previewArea_room"></div>
                                    </div>
                                    <div class="upload-instructions">
                                        <p>- Upload up to <b>15 images</b>.</p>
                                        <p>- Use real images, no duplicates, no phone numbers, and no logos.</p>
                                        <p>- Each image must be at least <b>100x100 px</b>.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <h4>Finshed</h4>
                    <section class="">
                        @* Here implement code *@
                        <button class="btn btn-primary">ADD SERVICE BLOG</button>
                    </section>
                </div>
            </form>
        </div>
    </div>
</div>
@* Link CSS *@
@section AdditionalLinkCSS {
    <link href="./plugins/jquery-steps/css/jquery.steps.css" rel="stylesheet">
    <link href="./plugins/summernote/dist/summernote.css" rel="stylesheet">
    <style>
        .wizard .content {
            min-height: 140rem !important;
        }
        #steps-uid-0-p-1 .wizard .content {
            min-height: 10rem !important;
        }
        .note-resizebar {
            display: none !important;
        }
        .distance {
            margin-top: 8px;
            margin-left: 4px;
        }
        @* New code *@
        .upload-container {
            width: 100%;
            margin: auto;
            padding: 20px;
            border: 2px dashed #7571f9;
            border-radius: 10px;
            background-color: #ffffff;
            text-align: center;
        }
        .upload-box {
            position: relative;
            padding: 20px;
            cursor: pointer;
        }
        .upload-box:hover {
            background-color: #e6f7ff;
            border-color: #7571f9;
        }
        .upload-box input[type="file"] {
            display: none; /* Hide input field */
        }
        .upload-text {
            font-size: 16px;
            font-weight: bold;
            color: #333;
            margin-bottom: 10px;
        }
        .preview-area {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            margin-top: 10px;
            justify-content: center;
        }
        .preview-item {
            position: relative;
            width: 100px;
            height: 100px;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        }
        .preview-item img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .preview-item .check-icon {
            position: absolute;
            top: 5px;
            right: 5px;
            background: rgba(0, 0, 0, 0.6);
            border-radius: 50%;
            color: #fff;
            font-size: 16px;
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .preview-item .delete-btn {
            position: absolute;
            bottom: 5px;
            right: 5px;
            background: #ff6666;
            border-radius: 50%;
            color: #fff;
            font-size: 16px;
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
        .input-hidden {
            display: none !important;
        }
        .upload-instructions {
            font-size: 14px;
            color: #555;
            margin-top: 15px;
            text-align: left;
        }
    </style>
}

@* Link Javascript *@
@section AdditionalLinkJavascript {
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- Load jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script> <!-- Bootstrap JS -->
    <script src="./plugins/summernote/dist/summernote.min.js"></script>
    @* <script src="./plugins/summernote/dist/summernote-init.js"></script> *@
    <script src="./plugins/jquery-steps/build/jquery.steps.min.js"></script>
    <script src="./plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="./js/plugins-init/jquery-steps-init.js"></script>
    <script>
        
    </script>
    <script>
        $(document).ready(function () {
            // Initialize first Summernote
            $('#first-summernote').summernote({
                height: 200,
                callbacks: {
                    onChange: function (contents) {
                        $('#ContentDescription').val(contents);
                    }
                }
            });
    
            // Initialize second Summernote
            $('#second-summernote').summernote({
                height: 200,
                callbacks: {
                    onChange: function (contents) {
                        $('#Description').val(contents);
                    }
                }
            });

                // Initialize Summernote with existing content if editing
            if ($('#ContentDescription').val()) {
                $('#first-summernote').summernote('code', $('#ContentDescription').val());
            }

            if ($('#Description').val()) {
                $('#second-summernote').summernote('code', $('#Description').val());
            }

            // Other AJAX logic (e.g., provinces and districts)
            $.getJSON('https://esgoo.net/api-tinhthanh/1/0.htm', function (data_tinh) {
                if (data_tinh.error === 0) {
                    $.each(data_tinh.data, function (key_tinh, val_tinh) {
                        $("#tinh").append('<option value="' + val_tinh.id + '">' + val_tinh.full_name + '</option>');
                    });

                    // When province is changed, populate districts
                    $("#tinh").change(function () {
                        var idtinh = $(this).val();
                        $.getJSON('https://esgoo.net/api-tinhthanh/2/' + idtinh + '.htm', function (data_quan) {
                            if (data_quan.error === 0) {
                                $("#quan").html('<option value="0">Quận Huyện</option>');
                                $("#phuong").html('<option value="0">Phường Xã</option>');
                                $.each(data_quan.data, function (key_quan, val_quan) {
                                    $("#quan").append('<option value="' + val_quan.id + '">' + val_quan.full_name + '</option>');
                                });

                                // When district is changed, populate wards
                                $("#quan").change(function () {
                                    var idquan = $(this).val();
                                    $.getJSON('https://esgoo.net/api-tinhthanh/3/' + idquan + '.htm', function (data_phuong) {
                                        if (data_phuong.error === 0) {
                                            $("#phuong").html('<option value="0">Phường Xã</option>');
                                            $.each(data_phuong.data, function (key_phuong, val_phuong) {
                                                $("#phuong").append('<option value="' + val_phuong.id + '">' + val_phuong.full_name + '</option>');
                                            });
                                        }
                                    });
                                });
                            }
                        });
                    });
                }
            });
        });
    </script>
    @* Link Javascript For Room and Area 1 *@
    <script>
        // Handle drag-and-drop and file input functionality for both Room and Area 1
        const dropArea_room = document.getElementById("dropArea_room");
        const fileInput_room = document.getElementById("fileInput_room");
        const previewArea_room = document.getElementById("previewArea_room");

        const dropArea = document.getElementById("dropArea");
        const fileInput = document.getElementById("fileInput");
        const previewArea = document.getElementById("previewArea");

        // Event listeners for Room
        setupDropArea(dropArea_room, fileInput_room, previewArea_room, 15);
        // Event listeners for Area 1
        setupDropArea(dropArea, fileInput, previewArea, 15);

        // Function to setup drag-and-drop and file input for each area
        function setupDropArea(dropAreaElement, fileInputElement, previewAreaElement, maxFiles) {
            dropAreaElement.addEventListener("click", () => {
                fileInputElement.click(); // Open file dialog on click
            });

            dropAreaElement.addEventListener("dragover", (e) => {
                e.preventDefault();
                dropAreaElement.style.borderColor = "#007acc";
                dropAreaElement.style.backgroundColor = "#e6f7ff";
            });

            dropAreaElement.addEventListener("dragleave", () => {
                dropAreaElement.style.borderColor = "#0099ff";
                dropAreaElement.style.backgroundColor = "#ffffff";
            });

            dropAreaElement.addEventListener("drop", (e) => {
                e.preventDefault();
                dropAreaElement.style.borderColor = "#0099ff";
                dropAreaElement.style.backgroundColor = "#ffffff";
                const files = e.dataTransfer.files;
                handleFiles(files, previewAreaElement, maxFiles);
            });

            fileInputElement.addEventListener("change", (e) => {
                const files = e.target.files;
                handleFiles(files, previewAreaElement, maxFiles);
            });
        }

        // Function to handle file preview and validation
        function handleFiles(files, previewAreaElement, maxFiles) {
            const currentItems = previewAreaElement.querySelectorAll('.preview-item').length;
            if (files.length + currentItems > maxFiles) {
                return;
            }
            Array.from(files).forEach((file) => {
                const reader = new FileReader();
                reader.onload = (e) => {
                    const previewItem = document.createElement("div");
                    previewItem.classList.add("preview-item");

                    const img = document.createElement("img");
                    img.src = e.target.result;

                    const checkIcon = document.createElement("div");
                    checkIcon.classList.add("check-icon");
                    checkIcon.textContent = "✔";

                    const deleteBtn = document.createElement("div");
                    deleteBtn.classList.add("delete-btn");
                    deleteBtn.textContent = "×";

                    // Add delete functionality
                    deleteBtn.addEventListener("click", () => {
                        previewItem.remove();
                    });

                    previewItem.appendChild(img);
                    previewItem.appendChild(checkIcon);
                    previewItem.appendChild(deleteBtn);

                    previewAreaElement.appendChild(previewItem);
                };
                reader.readAsDataURL(file);
            });
        }
    </script>
    @* Partial *@
    <partial name="_ValidationScriptsPartial" />
}
