@model App.Models.AppUser

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-validation">
                        <form asp-action="CreateTenant" method="post">
                            <div class="form-group row">
                                @Html.LabelFor(m => m.FullName, new { @class = "col-lg-4 col-form-label" })
                                <div class="col-lg-6">
                                    @Html.EditorFor(m => m.FullName, new
                                        {
                                            htmlAttributes = new
                                            {
                                                @class = "form-control",
                                                placeholder = "Enter full name.."
                                            }
                                        })
                                    @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(m => m.Email, new { @class = "col-lg-4 col-form-label" })
                                <div class="col-lg-6">
                                    @Html.EditorFor(m => m.Email, new
                                        {
                                            htmlAttributes = new
                                            {
                                                @class = "form-control",
                                                placeholder = "Enter valid email.."
                                            }
                                        })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-lg-4 col-form-label" })
                                <div class="col-lg-6">
                                    @Html.EditorFor(m => m.PhoneNumber, new
                                        {
                                            htmlAttributes = new
                                            {
                                                @class = "form-control",
                                                placeholder = "Enter phone number.."
                                            }
                                        })
                                    @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(m => m.Birthday, new { @class = "col-lg-4 col-form-label" })
                                <div class="col-lg-6">
                                    @Html.EditorFor(m => m.Birthday, new
                                        {
                                            htmlAttributes = new
                                            {
                                                @class = "form-control",
                                                type = "date"
                                            }
                                        })
                                    @Html.ValidationMessageFor(m => m.Birthday, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(m => m.Address, new { @class = "col-lg-4 col-form-label" })
                                <div class="col-lg-6">
                                    @Html.EditorFor(m => m.Address, new
                                        {
                                            htmlAttributes = new
                                            {
                                                @class = "form-control",
                                                placeholder = "Enter address.."
                                            }
                                        })
                                    @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(m => m.Sex, new { @class = "col-lg-4 col-form-label" })
                                <div class="col-lg-6">
                                    @Html.DropDownListFor(m => m.Sex,
                                             new SelectList(new List<SelectListItem>
                                    {
                                    new SelectListItem { Value = "", Text = "Please select" },
                                    new SelectListItem { Value = "male", Text = "Male" },
                                    new SelectListItem { Value = "female", Text = "Female" },
                                    new SelectListItem { Value = "other", Text = "Other" }
                                    }, "Value", "Text", Model.Sex), new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Sex, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                @Html.LabelFor(m => m.IdentityCard, new { @class = "col-lg-4 col-form-label" })
                                <div class="col-lg-6">
                                    @Html.EditorFor(m => m.IdentityCard, new
                                        {
                                            htmlAttributes = new
                                            {
                                                @class = "form-control",
                                                placeholder = "Enter identity card number.."
                                            }
                                        })
                                    @Html.ValidationMessageFor(m => m.IdentityCard, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-lg-8 ml-auto">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section AdditionalLinkJavascript {

    <partial name="_ValidationScriptsPartial" />
}